<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <servlet>
        <servlet-name>EmployeeListController</servlet-name>
        <servlet-class>controller.employee.EmployeeListController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <servlet-class>controller.employee.EmployeeUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <servlet-class>controller.employee.EmployeeDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCreateController</servlet-name>
        <servlet-class>controller.employee.EmployeeCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeSearchByNameController</servlet-name>
        <servlet-class>controller.employee.EmployeeSearchByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.accesscontrol.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeFilterController</servlet-name>
        <servlet-class>controller.employee.EmployeeFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>controller.user.UserCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <servlet-class>controller.plan.ProductionPlanCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanListController</servlet-name>
        <servlet-class>controller.plan.ProductionPlanListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleCampaignCreateController</servlet-name>
        <servlet-class>controller.schedule.ScheduleCampaignCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterController</servlet-name>
        <servlet-class>controller.accesscontrol.UserRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendResetCodeController</servlet-name>
        <servlet-class>controller.accesscontrol.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleCampaignListController</servlet-name>
        <servlet-class>controller.schedule.ScheduleCampaignListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPlanController</servlet-name>
        <servlet-class>controller.plan.DetailPlanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendantListController</servlet-name>
        <servlet-class>controller.attendant.AttendantListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendantCreateController</servlet-name>
        <servlet-class>controller.attendant.AttendantCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeListController</servlet-name>
        <url-pattern>/employee/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <url-pattern>/employee/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <url-pattern>/employee/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>controller.accesscontrol.UserLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmployeeCreateController</servlet-name>
        <url-pattern>/employee/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeSearchByNameController</servlet-name>
        <url-pattern>/employee/searchbyname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeFilterController</servlet-name>
        <url-pattern>/employee/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <url-pattern>/productionplan/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanListController</servlet-name>
        <url-pattern>/productionplan/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleCampaignCreateController</servlet-name>
        <url-pattern>/schedule/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendResetCodeController</servlet-name>
        <url-pattern>/sendresetcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleCampaignListController</servlet-name>
        <url-pattern>/schedule/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPlanController</servlet-name>
        <url-pattern>/productionplan/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendantListController</servlet-name>
        <url-pattern>/attendant/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendantCreateController</servlet-name>
        <url-pattern>/attendant/create</url-pattern>
    </servlet-mapping>
</web-app>
